<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      BIT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="rotate" [ngStyle]="{'background-image': 'url(' + track.cover + ')'}" style="
            height: 150px;
            width: 150px;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            text-align: center;
            display: block;
            margin: auto;
            margin-top: 25px;">
          <ion-row>
            <ion-col>
              <ion-icon style="width: 40px;
              height: 40px;
              margin-top: 49px;
              color: #ff002d;
              background: #272727;
              border-radius: 100px;" name="disc"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row  style="    margin-top: 16px;">
      <ion-col size="3" style="text-align: center;">
        <ion-button (click)="toggleShuffle()" color="light" fill="clear" shape="round">
          <ion-icon style=" color: #ff002d;" name="shuffle" ></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="6">
            <h4 style="color: white;">{{ track.name }}</h4>
            <span  style="    color: #b9b9b9;
            font-weight: lighter;
        ">{{ track.artist }}</span>
      </ion-col>
      <ion-col size="3" style="text-align: center;">
        <ion-button (click)="toggleLoop()" color="light" fill="clear" shape="round">
          <ion-icon style=" color: #ff002d;" name="infinite"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-row  style="    margin-top: 16px;">
  <ion-col size="2" style="text-align: center;">
    <small class="current" style="color: white;">{{ player.currentTime | timing }}</small>
  </ion-col>
  <ion-col size="8">
      <div class="progress-wrap">
          <input dir="ltr" type="range" class="progress" [value]="getProgress()" min="0" max="100" step="0.01"
                 (input)="setProgress(duration.value)" #duration>
          <div class="progress-foreground" [style.width.%]="getProgress()"></div>
        </div>
  </ion-col>
  <ion-col size="2" style="text-align: center;">
    <small class="remaining" style="color: white;"> {{ player.duration - player.currentTime | timing }}</small>
  </ion-col>
</ion-row>

  <ion-grid>
    <ion-row  style="    margin-top: 16px;">
      <ion-col size="4" style="text-align: center;">
        <ion-button color="light" fill="clear" shape="round" (click)="prev()">
          <ion-icon name="skip-backward"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" style="text-align: center;">
        <ion-button color="light" fill="clear" shape="round" (click)="playPause()">
          <ion-icon [name]="player.paused ? 'play' : 'pause'"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" style="text-align: center;">
        <ion-button color="light" fill="clear" shape="round" (click)="next()">
          <ion-icon name="skip-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>